.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  margin: -60px 0 0 -60px;
  animation: spin 1.2s linear infinite;
  z-index: 51;
}

.container-loader {
  position: fixed !important;
  z-index: 50;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #086fea 0%, #2ae0f5 100%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.1;
  }
}
