.menu {
  position: fixed;
  bottom: 0;
}

a.unlink {
  color: inherit;
}

a.unlink:hover {
  color: inherit;
  text-decoration: inherit;
  cursor: auto;
}

.size {
  display: block;
  background: #00b9f2cc;
  height: 60px;
  width: 60px;
  padding-top: 4px;
}
