.menu {
  position: fixed;
  bottom: 0;
}

.list {
  list-style-type: none;
}

a.unlink {
  color: inherit;
}
a.unlink:hover {
  color: inherit;
  text-decoration: inherit;
  cursor: auto;
}

.size {
  display: block;
  background: #007bff;
  height: 60px;
  width: 60px;
  padding-top: 4px;
}
