.btn {
  border-radius: 500px !important;
  text-shadow: 2px 1px #000000;
  font-size: 30px !important;
  padding: 0px 35px !important;
  border: 2px solid white !important;
  background-color: #008dff87 !important;
  color: white !important;
  text-transform: uppercase;
}

.btn-sm {
  font-size: 25px !important;
  padding: 0 !important;
}

.btn-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  padding: 25px !important;
  background-color: transparent !important;
}

.form-group .btn-icon {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  background-size: 18px;
  padding-bottom: 25px !important;
}

.btn-eye {
  background-image: url("./../images/icons/eye.png");
  border: none !important;
}

.btn-back {
  background-image: url("./../images/icons/back.png");
  background-size: 15px;
}

.btn-email {
  background-image: url("./../images/icons/email.png");
}

.btn-password {
  background-image: url("./../images/icons/password.png");
}

.btn-user {
  background-image: url("./../images/icons/user.png");
}
