.btn {
  border-radius: 500px !important;
  text-shadow: 1px 1px #000000;
  font-size: 22px !important;
  /*padding: 0px 15px 4px 15px !important;*/
  border: 2px solid white !important;
  color: white !important;
  text-transform: uppercase;
  padding-top: 0.55rem !important;
  background-color: #00c8ffb3 !important;
}

.btn-secondary {
  background-color: rgba(0, 141, 255, 0.5) !important;
}

.btn-sm {
  font-size: 18px !important;
}

.btn-xs {
  font-size: 1rem !important;
}

.btn-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  padding: 25px !important;
  background-color: transparent !important;
}

.form-group .btn-icon {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  background-size: 18px;
  padding-bottom: 25px !important;
}

.btn-eye {
  background-image: url("./../images/icons/eye.png");
  border: none !important;
}

.btn-back {
  background-image: url("./../images/icons/back.png");
  background-size: 27px;
}

.btn-email {
  background-image: url("./../images/icons/email.png");
}

.btn-password {
  background-image: url("./../images/icons/password.png");
}

.btn-user {
  background-image: url("./../images/icons/user.png");
}

.btn-settings {
  background-image: url("./../images/icons/wheel.png");
}
