.form-control {
  background: rgba(253, 253, 255, 0) !important;
  border: none !important;
}

.form-group {
  background-color: #ffffff40;
  border-radius: 7px;
  margin: 1.3rem 0.8rem !important;
}

.form-group label {
  text-shadow: none;
  color: white;
  margin-top: 10px;
  margin-bottom: 0;
}

.form-group input {
  font-size: 22px;
  height: 43px;
  padding-bottom: 30px;
  color: white !important;
}
