.btn-back-fixed {
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 25px;
  width: 1px;
  margin: auto;
}

.puzzleSlider {
  display: flex;
  overflow-x: auto;
}

.puzzleSlider img {
  height: 50vh;
}

.puzzle-item h2 {
  margin-top: 8vh;
}

div[class^='coverflow__text'] {
  padding: 0 5px;
  background: none;
  bottom: 2px;
  word-break: break-all;
}

*[class^='coverflow__figure'] {
  box-shadow: none !important;
  backface-visibility: unset !important;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) !important;
}

div[class^='coverflow__arrow'] {
  position: fixed !important;
  height: 100vh;
}

.coverflow__left__PhMc6 {
  left: 15px !important;
}

div[class^='coverflow__arrow']:before,
div[class^='coverflow__arrow']:after {
  width: 45px !important;
  left: 0 !important;
}

div[class^='coverflow__arrow']:hover span {
  visibility: hidden;
  right: inherit !important;
}
