.btn-back-fixed {
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 25px;
  width: 1px;
  margin: auto;
}

.puzzleSlider {
  display: flex;
  overflow-x: auto;
}

.puzzleSlider img {
  height: 50vh;
}

.puzzle-item h2 {
  margin-top: 8vh;
}
