.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.timer {
  color: white;
  font-size: 30px;
}

#timer {
  display: inline-block;
  width: 50%;
}

.reference {
  max-width: 100%;
}

.congratulations {
  position: fixed;
  top: 160px;
  right: 0px;
  left: 0px;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px black;
  z-index: 12;
}

.slide-in-elliptic-top-fwd {
  -webkit-animation: slide-in-elliptic-top-fwd 2s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: black;
  z-index: 10;
  animation: colorchange 7s;
  -webkit-animation: colorchange 7s;
}

@keyframes colorchange {
  0% {
    background: #00000000;
  }
  100% {
    background: #0a74eb;
  }
}

@-webkit-keyframes colorchange {
  0% {
    background: #00000000;
  }
  100% {
    background: #0a74eb;
  }
}
