.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}

.list {
  list-style-type: none;
}

a.unlink {
  color: inherit;
}
a.unlink:hover {
  color: inherit;
  text-decoration: inherit;
  cursor: auto;
}
