/* -- App -- */
@import url("https://fonts.googleapis.com/css?family=Patrick+Hand+SC&display=swap");

body {
  max-width: 1920px;
  margin: auto;
}

#root {
  min-height: 100vh;
}

.border-rounded {
  border-radius: 1000px !important;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.app {
  padding-top: 30px;
  padding-bottom: 15px;
  min-height: calc(100vh);
}

*:not(input) {
  font-family: "Patrick Hand SC";
  color: white;
  text-shadow: 2px 2px black;
}

.shadow-none {
  text-shadow: none;
}

a {
  color: white !important;
}

a:hover {
  text-decoration: none !important;
  color: inherit !important;
}

.container {
  background: url("./images/nature-background.jpg");
  background-position: 359px 445px;
  height: 100%;
}

rect {
  fill: #ffffff00;
}

/* ----------------------------------------------
      Animations
 * ---------------------------------------- */

.vibrate-2 {
  animation: vibrate-2 0.3s linear 3 both;
}

@keyframes vibrate-2 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(2px, -2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
