/* -- App -- */

body {
  max-width: 1920px;
  margin: auto;
  margin-bottom: 4rem !important;
  font-family: "Roboto Mono", sans-serif;
}

.border-rounded {
  border-radius: 1000px !important;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.app {
  padding-top: 15px;
  padding-bottom: 15px;
}
